---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import aboutus from '../../../assets/about-us.svg'
import { Image } from 'astro:assets'
import sevices from '../../../assets/our-sevices.svg'

// - UI

type Props = {
	type?: 'top-icon' | 'side-icon'
	title?: string
	icon?: string
	iconStyle?: 'normal' | 'square'
	align?: 'left' | 'center'
	classes?: string
}
const { type = 'top-icon', title, icon = 'about-us', iconStyle, align, classes } = Astro.props

import Card from '../../ui/cards/FeatureCard.astro'

// Content
// - Cards
import { Icon } from 'astro-icon/components'
import Button from '../../ui/Button.astro'
---

<Section id="features">
	<Row>
		<Col span="5" classes=''>
			<h2 class="text-pretty mb-0 text-center text-5xl md:hidden"><strong> About</strong> Us</h2>
			<Image
			src={aboutus}
			alt="Foxi. The tailwind astro theme"
			class="h-full w-full dark:shadow-neutral-950"
			format="webp"
		/>
			 </Col>
		<Col span="7" classes="mb-12">
			<h2 class="text-pretty mb-0 hidden md:block"><strong> About</strong> Us</h2>

			<p class="pb-0 text-base text-justify flex mt-3">
				<span>
					<Icon
				name="filled-star"
				class="me-2"
				class:list={[
					'shrink-0',
					{ [`size-6 text-primary-400`]: iconStyle != 'square' },
					{ [`size-10 rounded bg-primary-500 p-2 text-white`]: iconStyle === 'square' }
				]}
			/>	
				</span> 
				At XZY, we are committed to simplifying the complexities of Tax Services, Accounting,  Financial Advisory, and Business Registration & Compliance services for individuals and businesses. We understand that navigating financial regulations can be overwhelming, which is why we provide expert solutions designed to save you time, reduce stress, and maximize your financial benefits.
			</p>
			<p class="pb-0 text-base text-justify flex">
				<span>
					<Icon
				name="filled-star"
				class="me-2"
				class:list={[
					'shrink-0',
					{ [`size-6 text-primary-400`]: iconStyle != 'square' },
					{ [`size-10 rounded bg-primary-500 p-2 text-white`]: iconStyle === 'square' }
				]}
			/>	
				</span> 
				<span>
					Our range of services includes Income Tax Returns, GST and TDS Filings, Accounting Services, Company Registrations,<a class="text-primary-500" href=""> and more.</a>  Whether you're an individual looking for assistance with personal taxes or a business needing complete financial management, we’re here to handle the details so you can focus on what matters most.
				</span>
			</p>
			<p class="pb-0 text-base text-justify flex">
				<span>
					<Icon
				name="filled-star"
				class="me-2" 
				class:list={[
					'shrink-0',
					{ [`size-6 text-primary-400`]: iconStyle != 'square' },
					{ [`size-10 rounded bg-primary-500 p-2 text-white`]: iconStyle === 'square' }
				]}
			/>	
				</span> 
				We work closely with each client to understand their unique financial situation and offer tailored solutions that not only meet legal requirements but also optimize tax savings and financial efficiency.
			</p>
			<Button size="lg" classes="my-2 ms-7"  link="/">Let Us Simplify Your Finances
				<Icon
				name="long-arrow-right"
				class:list={[
					'shrink-0',
					{ [`size-6`]: iconStyle != 'square' },
					{ [`size-10 rounded bg-neutral-500 p-2 text-white`]: iconStyle === 'square' }
				]}
			/></Button>
		</Col>
	</Row>
</Section>


<!-- Our Services -->
<Section id="features">
	<Row>
		<Col span="7" classes="mb-12">
			<h2 class="text-pretty mb-0 hidden md:block"><strong> Our</strong> Services</h2>

			<div class="flex-1 flex flex-col sm:flex-row flex-wrap -mb-4 -mx-2">
				<div class="w-full sm:w-1/2 mb-4 px-2 ">
					<div class="h-full py-4 px-4 border border-green-500 border-t-0 border-l-0 rounded-br-xl">
						<h3 class="text-2xl font-bold text-md mb-6">Finance and Accounting</h3>
						<p class="text-sm mb-0">Streamline your finances with our Accounting Services and Company Accounts Management. We handle Bookkeeping and Financial Reporting, giving you clear insights so you can focus on growth. <a href="/services/#Finance and Accounting" class="text-end font-bold text-sm highlight animate-pulse hover:text-neutral-500 hover:animate-none">Read more</a></p>
					    
					</div>
				</div>
				<div class="w-full sm:w-1/2 mb-4 px-2 ">
					<div class="h-full py-4 px-4 border border-green-500 border-t-0 border-l-0 rounded-br-xl">
						<h3 class="text-2xl font-bold text-md mb-6">Tax</h3>
						<p class="text-sm mb-0">Stay compliant with our Income Tax Returns, GST & TDS Filings, Professional Tax, and Sales Tax/VAT Consultancy. We also manage Company Law Compliance, ESI & EPF Returns, and provide Income Tax Consultancy to simplify your tax needs. <a href="/services/#Tax" class="text-end font-bold text-sm highlight animate-pulse hover:text-neutral-500 hover:animate-none">Read more</a></p>
					    
					</div>
				</div>
	
				<div class="w-full sm:w-1/2 mb-4 px-2 ">
					<div class="h-full py-4 px-4 border border-green-500 border-t-0 border-l-0 rounded-br-xl">
						<h3 class="text-2xl font-bold text-md mb-6">Business <br> Registration & Compliance</h3>
						<p class="text-sm mb-0">Get your business started with Partnership Registration, Company Incorporation, MSME Registration, and FSSAI Registration. We handle ongoing needs like Trust Incorporation and ROC Filing to keep your business legally sound. <a href="/services/#Business Registration & Compliance" class="text-end font-bold text-sm highlight animate-pulse hover:text-neutral-500 hover:animate-none">Read more</a></p>
					    
					</div>
				</div>
	
				<div class="w-full sm:w-1/2 mb-4 px-2 ">
					<div class="h-full py-4 px-4 border border-green-500 border-t-0 border-l-0 rounded-br-xl">
						<h3 class="text-2xl font-bold text-md mb-6">Financial Advisory</h3>
						<p class="text-sm mb-0">Achieve financial security with our Investment Advisory, Asset Management, and Financial Planning services. We offer Mutual Fund Advisory and comprehensive Insurance Options like Term, Health, and Vehicle Insurance to protect your future. <a href="/services/#Financial Advisory" class="text-end font-bold text-sm highlight animate-pulse hover:text-neutral-500 hover:animate-none">Read more</a></p>
					    
					</div>
				</div>
			</div>
		</Col>
		<Col span="5" classes=''>
			<Image
				src={sevices}
				alt="Foxi. The tailwind astro theme"
				class="w-full h-full md:h-5/6 md:w-5/6 -translate-y-8 dark:shadow-neutral-950"
				format="webp"
			/>
		</Col>
	</Row>
</Section>
