---
// Feature Cards grid Section
// ------------
// Description: A grid of cards with feature information in a 4 column layout.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
import aboutus from '../../../assets/about-us.svg'
import { Image } from 'astro:assets'

// - UI

type Props = {
	type?: 'top-icon' | 'side-icon'
	title?: string
	icon?: string
	iconStyle?: 'normal' | 'square'
	align?: 'left' | 'center'
	classes?: string
}
const { type = 'top-icon', title, icon = 'about-us', iconStyle, align, classes } = Astro.props

// Content
// - Cards
import { Icon } from 'astro-icon/components'
import Button from '../../ui/Button.astro'
---

<Section id="features">
	<Row>
		<Col span="5" classes=''>
			<h2 class="text-pretty mb-0 text-center text-5xl md:hidden"><strong> About</strong> Us</h2>
			<Image
			src={aboutus}
			alt="One Point Tax. About Us"
			class="h-full w-full dark:shadow-neutral-950"
			format="webp"
		/>
			 </Col>
		<Col span="7" classes="mb-12">
			<h2 class="text-pretty mb-0 hidden md:block"><strong> About</strong> Us</h2>

			<p class="pb-0 text-base text-justify flex mt-3">
				<span>
					<Icon
				name="filled-star"
				class="me-2"
				class:list={[
					'shrink-0',
					{ [`size-6 text-primary-400`]: iconStyle != 'square' },
					{ [`size-10 rounded bg-primary-500 p-2 text-white`]: iconStyle === 'square' }
				]}
			/>	
				</span> 
				At Onepoint, we are committed to simplifying the complexities of Tax Services, Accounting,  Financial Advisory, and Business Registration & Compliance services for individuals and businesses. We understand that navigating financial regulations can be overwhelming, which is why we provide expert solutions designed to save you time, reduce stress, and maximize your financial benefits.
			</p>
			<p class="pb-0 text-base text-justify flex">
				<span>
					<Icon
				name="filled-star"
				class="me-2"
				class:list={[
					'shrink-0',
					{ [`size-6 text-primary-400`]: iconStyle != 'square' },
					{ [`size-10 rounded bg-primary-500 p-2 text-white`]: iconStyle === 'square' }
				]}
			/>	
				</span> 
				<span>
					Our range of services includes Income Tax Returns, GST and TDS Filings, Accounting Services, Company Registrations,<a class="text-primary-500" href=""> and more.</a>  Whether you're an individual looking for assistance with personal taxes or a business needing complete financial management, we’re here to handle the details so you can focus on what matters most.
				</span>
			</p>
			<p class="pb-0 text-base text-justify flex">
				<span>
					<Icon
				name="filled-star"
				class="me-2" 
				class:list={[
					'shrink-0',
					{ [`size-6 text-primary-400`]: iconStyle != 'square' },
					{ [`size-10 rounded bg-primary-500 p-2 text-white`]: iconStyle === 'square' }
				]}
			/>	
				</span> 
				We work closely with each client to understand their unique financial situation and offer tailored solutions that not only meet legal requirements but also optimize tax savings and financial efficiency.
			</p>
			<Button size="lg" classes="my-2 ms-7"  link="/contact">Let Us Simplify Your Finances
				<Icon
				name="long-arrow-right"
				class:list={[
					'shrink-0',
					{ [`size-6`]: iconStyle != 'square' },
					{ [`size-10 rounded bg-neutral-500 p-2 text-white`]: iconStyle === 'square' }
				]}
			/></Button>
		</Col>
	</Row>
</Section>
