---
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
---

<Section padding="bottom" id="testimonial" classes='dark:bg-neutral-900'>
	<Row classes='items-center'>
        <Col span="12" align="center">
            <h2 class="text-pretty mb-0 text-center text-5xl"><strong>Happy </strong> Stories</h2>
            <p class="pb-0 text-lg">Your Financial Partner, Every Step of the Way.</p>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
                <div class="bg-white shadow rounded-lg p-8">
                    <p class="text-gray-700 mb-4">"Their team is reliable, knowledgeable, and always available when I have questions!"</p>
                    <p class="text-gray-700 font-medium">- Madesh</p>
                </div>
                <div class="bg-white shadow rounded-lg p-8">
                    <p class="text-gray-700 mb-4">"Onepoint transformed the way I approach my finances."</p>
                    <p class="text-gray-700 font-medium">- Prakash</p>
                </div>
                <div class="bg-white shadow rounded-lg p-8">
                    <p class="text-gray-700 mb-4">"As a new startup, we needed reliable support for our accounting and compliance needs. XZY provided exactly that, guiding us through every step with clarity and professionalism."</p>
                    <p class="text-gray-700 font-medium">- Steffi</p>
                </div>
            </div>
        </Col>
    </Row>
    </Section>