---
// Components
// - Layout
import Layout from '../layouts/Layout.astro'
import Section from '../components/ui/Section.astro'
import Row from '../components/ui/Row.astro'
import Col from '../components/ui/Col.astro'
// - UI
import Spacer from '../components/ui/Spacer.astro'
import Button from '../components/ui/Button.astro'
import { Icon } from 'astro-icon/components'
import { Image } from 'astro:assets'
import soon from '../assets/comming-soon.svg'

// Content
// - SEO
const SEO = {
	title: 'Oops! OnePoint. Lost the Trail - Page Not Found',
	description:
		" Looks like we chased our tail and lost the page. Don't worry, let's get you back on the OnePoint. trail!"
}
---

<Layout title={SEO.title} description={SEO.description}>
	<Section padding="bottom">
        <h1 class="text-center"><strong>Tools & Calculater</strong> </h1>
        <h1 class="text-center mb-0">Coming Soon<strong>! </strong> Under Devlopment<strong>!</strong> </h1>
		<Row flex classes="text-center">

			<Image
				src={soon}
				alt="Coming Soon"
				class="h-full w-full md:w-2/4 md:h-2/4 md:-translate-y-20 dark:shadow-neutral-950"
				format="webp"
			/>
		</Row>
		<Row flex classes="text-center items-center justify-center">
			<Col span="2" />
			<Col span="8">
				<Spacer size="2" desktopSize="4" />
				<Button link="/"> Return to homepage <Icon name="long-arrow-right" /> </Button>
			</Col>
			<Col span="2" />
		</Row>
	</Section>
</Layout>
