---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import ChipNotification from '../../ui/ChipNotification.astro'
import { Image } from 'astro:assets'
import Button from '../../ui/Button.astro'
// Content
// - Hero Image
import heroImage from '../../../assets/hero-01.png'
import { Icon } from 'astro-icon/components'


// Props
type Props = {
	type?: 'top-icon' | 'side-icon'
	title?: string
	icon?: string
	iconStyle?: 'normal' | 'square'
	align?: 'left' | 'center'
	classes?: string
}
const { type = 'top-icon', title, icon = 'envelope', iconStyle, align, classes } = Astro.props
---

<Section id="intro" padding="none" classes="dark:bg-neutral-900">
	<!-- <Row>
		<Col span="2" />
		<Col span="8" align="center">
			<ChipNotification radius="rounded-full" classes="mb-6">
				<strong>30K+</strong> satisfied customers
				<AvatarGroup avatars={avatars} radius="rounded-full" slot="button" />
			</ChipNotification>
			<h1>Enhance team <strong>performance</strong> with seamless integration</h1>

			<p class="pb-0 text-lg">Work smarter, not harder, with our innovative platform</p>
			<Button size="lg" link="/">Get started for free</Button>
		</Col>
		<Col span="2" />
		<Col span="2" />
		<Col span="8">
			<Image
				src={heroImage}
				alt="Foxi. The tailwind astro theme"
				class="translate-y-8 shadow-2xl shadow-neutral-200 dark:shadow-neutral-950"
				format="webp"
			/></Col
		>
		<Col span="2" />
	</Row> -->

	<!------------------------------------>
	<Row classes="items-center">
		<Col span="6" align="center">
			<h1><strong>Accounting, Tax, Payroll</strong> XZY helps you with the practicalities </h1>

			<p class="pb-0 text-lg">We provide more services. Fill out the form, and we will contact you as soon as possible.</p>
			<Button size="lg" classes="my-2" link="/">View Other Services</Button>
			<Button size="lg" classes="my-2" style="neutral" link="/">Fill a Form
				<Icon
				name="envelope",
				class:list={[
					'shrink-0',
					{ [`size-6 text-primary-500`]: iconStyle != 'square' },
					{ [`size-10 rounded bg-primary-500 p-2 text-white`]: iconStyle === 'square' }
				]}
			/></Button>
		</Col>
		<Col span="6">
		<Image
				src={heroImage}
				alt="Foxi. The tailwind astro theme"
				class="h-full w-full mt-3 dark:shadow-neutral-950"
				format="webp"
			/>
	     </Col>
	</Row>
</Section>
