---
// Home page CTA Section
// ------------
// Description: A centered call to action section that contains: a title, text, a user review snippet, a button and a image.

// Components
// - Layout
import Section from '../../ui/Section.astro'
import Row from '../../ui/Row.astro'
import Col from '../../ui/Col.astro'
// - UI
import { Image } from 'astro:assets'
import Button from '../../ui/Button.astro'
// Content
// - Hero Image
import heroImage from '../../../assets/hero-01.png'
import { Icon } from 'astro-icon/components'


// Props
type Props = {
	type?: 'top-icon' | 'side-icon'
	title?: string
	icon?: string
	iconStyle?: 'normal' | 'square'
	align?: 'left' | 'center'
	classes?: string
}
const { type = 'top-icon', title, icon = 'envelope', iconStyle, align, classes } = Astro.props
---

<Section id="intro" padding="none" classes="dark:bg-neutral-900">
	<Row classes="items-center">
		<Col span="6" align="center">
			<h1><strong>Accounting, Tax, Finance</strong> "Onepoint" helps you with the practicalities </h1>

			<p class="pb-0 text-lg">"We are passionate about the success of our small business clients."</p>
			<Button size="lg" classes="my-2" link="/services">Our Services</Button>
			<Button size="lg" classes="my-2" style="neutral" link="https://wa.me/919524015826?text=Hello%20Team">Say Hi..!
				<Icon
				name="whatsapp",
				class:list={[
					'shrink-0',
					{ [`size-6 text-primary-500`]: iconStyle != 'square' },
					{ [`size-10 rounded bg-primary-500 p-2 text-white`]: iconStyle === 'square' }
				]}
			/></Button>
		</Col>
		<Col span="6">
		<Image
				src={heroImage}
				alt="Illustration representing OnePointTax accounting, tax, and finance services"
				class="h-full w-full mt-3 dark:shadow-neutral-950"
				format="webp"
			/>
	     </Col>
	</Row>
</Section>
